RewriteEngine on
Options All -Indexes
RewriteBase /

<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>
 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*) index.php [L]